raw_games/*
models/*

__pycache__/
**/__pycache__/
*.py[cod]

# Images (avoid committing large datasets)
*.jpg
*.jpeg
*.JPG
*.JPEG
*.png
*.pgn

# model weights
*.pth

*.pgn


# model weights
*.pth


# model weights
*.pth

